<div id="<%= dom_id dica %>">
  <p>
    <strong>Titulo:</strong>
    <%= dica.titulo %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= dica.genero %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= dica.descricao %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= dica.nota %>
  </p>

</div>
